{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<main class="{{ .Title | urlize }}">
	{{ range .Data.Pages }}
	<section class="{{ .Title | urlize }}">
		<div class="container">
			<div class="row">
				<div class="column">
				{{ if .Params.images }}
				{{ range $index, $image := .Params.images }}
					<img src="{{ $.Site.BaseURL }}/img/content/{{ . }}.png" id="img-{{ . }}" alt="{{ . | humanize }}" />
				{{ end }}
				{{ end }}
				</div>	
				<div class="column">
					<h2><a href="{{ .Title | urlize }}">{{ .Title }}</a></h2>
					{{ .Content }}
					{{ with .Params.credits }}
					<div class="credits">
						<p>Credits:</p>
						{{ range .credits }}
						<p>{{ . }}</p>
						{{ end }}
					</div>
					{{ end }}
				</div>
			</div>
		</div>
	</section>
	{{ end }}
</main>

{{ partial "footer.html" . }}
